<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YocoReaderTester.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6C5DA0329A1F693B7F9962400E184FF8DDEBFCAD</string>
				<key>dateExpires</key>
				<string>2021/11/16</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C5DA0329A1F693B7F9962400E184FF8DDEBFCAD</string>
						<key>dateExpires</key>
						<string>2021/11/16</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Analytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3WD37S769D</string>
						<key>name</key>
						<string>Yoco Technologies (PTY) LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C5DA0329A1F693B7F9962400E184FF8DDEBFCAD</string>
						<key>dateExpires</key>
						<string>2021/11/16</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3WD37S769D</string>
						<key>name</key>
						<string>Yoco Technologies (PTY) LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C5DA0329A1F693B7F9962400E184FF8DDEBFCAD</string>
						<key>dateExpires</key>
						<string>2021/11/16</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BerTlv.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3WD37S769D</string>
						<key>name</key>
						<string>Yoco Technologies (PTY) LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C5DA0329A1F693B7F9962400E184FF8DDEBFCAD</string>
						<key>dateExpires</key>
						<string>2021/11/16</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3WD37S769D</string>
						<key>name</key>
						<string>Yoco Technologies (PTY) LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C5DA0329A1F693B7F9962400E184FF8DDEBFCAD</string>
						<key>dateExpires</key>
						<string>2021/11/16</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3WD37S769D</string>
						<key>name</key>
						<string>Yoco Technologies (PTY) LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C5DA0329A1F693B7F9962400E184FF8DDEBFCAD</string>
						<key>dateExpires</key>
						<string>2021/11/16</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Gloss.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3WD37S769D</string>
						<key>name</key>
						<string>Yoco Technologies (PTY) LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C5DA0329A1F693B7F9962400E184FF8DDEBFCAD</string>
						<key>dateExpires</key>
						<string>2021/11/16</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Ono.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3WD37S769D</string>
						<key>name</key>
						<string>Yoco Technologies (PTY) LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C5DA0329A1F693B7F9962400E184FF8DDEBFCAD</string>
						<key>dateExpires</key>
						<string>2021/11/16</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OnoSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3WD37S769D</string>
						<key>name</key>
						<string>Yoco Technologies (PTY) LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6C5DA0329A1F693B7F9962400E184FF8DDEBFCAD</string>
						<key>dateExpires</key>
						<string>2021/11/16</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3WD37S769D</string>
						<key>name</key>
						<string>Yoco Technologies (PTY) LTD</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3WD37S769D.com.yoco.YRT</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3WD37S769D</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>3WD37S769D.com.yoco.YRT</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>82d66bf3-19f1-4e70-a572-d9c6829f8a0e</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3WD37S769D</string>
				<key>name</key>
				<string>Yoco Technologies (PTY) LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
